#rtd-versions-container-header, #rtd-versions-container-burger {
    .rst-versions {
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        .rst-other-versions dd, & {
            a:hover {
                color: $link-hover;
            }
        }
    }
}

#rtd-versions-container-header {
    padding-inline: 0;
    height: $navbar-height;
    .rst-versions {
        background: none;
        .rst-current-version {
            display: flex;
            flex-direction: column;
            height: auto;
            background: none;
            color: whitesmoke;
        }
        .rst-other-versions {
            background: #1f1d1d;
            right: 0;
        }
        &.shift-up {
            z-index: 12;
            &::before {
                content: "";
                display: block;
                position: fixed;
                left: 0;
                right: 0;
                width: 100vw;
                height: 100vh;
                pointer-events: auto;
                z-index: 11;
            }
            .rst-current-version {
                text-align: center;
            }
            .rst-other-versions {
                position: absolute;
            }
        }
        &:hover, &.shift-up {
            background: bulmaDarken($primary, 5%);
        }
    }
}

#rtd-versions-container-burger {
    .rst-versions {
        max-width: none;
        max-height: 30px;
        transition: max-height 0.2s;
        overflow: hidden;
        .rst-current-version {
            text-align: right;
            height: 30px;
        }
        .rst-other-versions {
            display: block;
        }
        &.shift-up {
            max-height: 100vh;
            overflow: auto;
            scrollbar-width: none;
            .rst-current-version .fa-book {
                float: none;
            }
        }
    }
}

