#rtd-versions-container-header, #rtd-versions-container-burger {
    .rst-versions {
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        &.shift-up {
            text-align: center;
        }
    }
}

#rtd-versions-container-header {
    .rst-versions {
        background: none;
        .rst-current-version {
            display: flex;
            flex-direction: column;
            height: auto;
            background: none;
            color: whitesmoke;
        }
        .rst-other-versions {
            background: #1f1d1d;
            top: $navbar-height;
            right: 0;
        }
        &.shift-up .rst-other-versions {
            position: absolute;
        }
    }
}

#rtd-versions-container-burger {
    .rst-versions {
        max-width: none;
        .rst-current-version {
        }
        .rst-other-versions {
        }
        &.shift-up .rst-other-versions {
        }
    }
}

